<mat-card>
    <mat-card-content>
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input 
                formControlName="title"
                type="text" class="form-control">

                <strong class="text-danger" *ngIf="f['title'].touched && f['title'].hasError('required')">
                    This is an required field !!!
                </strong>
            </div>

             <div class="form-group">
                <label for="content">Content</label>
                <input 
                formControlName="content"
                type="text" class="form-control">

                <strong class="text-danger" *ngIf="f['content'].touched && f['content'].hasError('required')">
                    This is an required field !!!
                </strong>
            </div>

             <div class="form-group">
                <label for="userId">UserId</label>
                <select 
                formControlName="userId"
                type="text" class="form-control">
            
                <option
                *ngFor="let arr of userIdArr;"
                [value]="arr">{{arr}}</option>
            </select>

                <strong class="text-danger" *ngIf="f['userId'].touched && f['userId'].hasError('required')">
                    This is an required field !!!
                </strong>
            </div>

            <button *ngIf="!isInEditMode" mat-raised-button color="primary" class="w-100">Add Post</button>
            <button *ngIf="isInEditMode" type="button" (click)="onUpdate()" mat-raised-button color="primary" class="w-100">Update Post</button>
        </form>
    </mat-card-content>
</mat-card>
