
.spinner{
    position: fixed;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100%;
    background-color: rgba(227, 206, 206, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}